@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body{
    background: #C9FFBF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    font-size: xx-large;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    border: black 2px groove;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    background-color: #FADBD8;
}

nav.options,h1{
    display: inline;
}
nav h1{
    text-decoration: underline;
    margin-left: 5%;


}
.options{
   margin-left: 40%;
   
}

.options,a{
    border: 2px  groove grey;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
 }

 section{
    margin-top: 5%;
 }
 
 .tarjeta{
    width: 50%;
    margin: auto;
    text-align: center;
 }

 .tarjeta.ing{
    border: 4px groove #D1F2EB;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
 }
.contenido{
    background-color: #D1F2EB;
    border-radius: 10px;
    border: 2px groove #D1F2EB;
    width: 30%;
    display: inline-block;
    margin: 1%;
}

.contenido :hover{
  border: 4px groove black;
}

.contenido img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contenido h3, p{
   text-align: center;

}

.contenedorchico{
    text-align: center;
    border: 2px groove #F2D7D5 ;
    border-radius: 10px;
    width: 77%;
    margin: auto;
    padding: 2%;
}

.contenedorchico  p {
  font-size: large;
}

.contenedorchico form{
    width: 50%;
    transform: translateX(50%);
}

.contenedorchico form label {
    display: block;
    text-align: left;
}

.contenedorchico form input{
    text-align: right;
}

input [type="submit"]{
   border: 2px groove #F2D7D5;
   padding: 5%;
   border-radius: 12%;
   background-color: white;


}
textarea{
    width: 170px;
    resize: none;
    margin: auto;
}

footer{
    margin-top: 5%;
    background-color: #FADBD8;
    border: 2px groove black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer p img{
  margin: 5%;
}
#insta{
    width: 20px;
}
#face{
    width: 15px;
}
#tiktok{
    width: 20px;
}
